<h1>{{model.name}}</h1>
<p>{{model.description}}</p>
<p>Served at the following locations: {{model.restaurant.name}}</p>
{{link-to 'Edit this food' 'foods.food.edit' model}}
<button {{action 'destroyItem' model}}>Remove</button>